body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
div.btcwdgt {
    max-width: 100% !important;
}
div.widgetbar-pagescontent{
    width: 50% !important;
}
div.widgetbar-page active{
    width: 50% !important;
}
#chartdiv {
    width		: 100%;
    height		: 500px;
    margin: 0 auto;
}

div.tradingview-widget-container{
    margin: 0 0 0 0;
}
/*div.scrollgraph {*/
    /*background-color: #333;*/
    /*overflow: auto;*/
    /*white-space: nowrap;*/
/*}*/

/*div.scrollgraph a {*/
    /*display: inline-block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 14px;*/
    /*text-decoration: none;*/
/*}*/

/*div.scrollgraph a:hover {*/
    /*background-color: #777;*/
/*}*/